
@{
    ViewData["Title"] = "ingresar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="text-center">
        <h1 class="display-4">login</h1>
        </div>
@model User
@Html.BeginForm("login","AcountController")
